.site-wrapper-wide {
    max-width: 125em;
    margin: 0 auto;
    /* background-color: green; */
}

.site-wrapper-normal {
    max-width: 85em;
    margin: 0 auto;
}

.site-content {
    min-height: 40em;
}

.site-content .site-headlines {
    background-color: #23a094;
    border-bottom: 1px solid #000;
}


.site-content .site-headlines .site-wrapper-wide .grid {
    display: grid;
}

.site-content .site-headlines .site-wrapper-wide .grid article .grid-item-wide {
    grid-column: 1/4;
}

.site-content .site-headlines .site-wrapper-wide .grid article .grid-item-small {}

.site-content .site-top-stories {
    min-height: 40em;
    border-bottom: 1px solid #000;
}

.site-content .site-carousel {
    min-height: 10em;
    background-color: #f1f333;
    border-bottom: 1px solid #000;
}

.site-content .site-picks {
    min-height: 40em;
    background-color: #90a8ed;
    border-bottom: 1px solid #000;
}

.site-content .site-subscribe {
    min-height: 30em;
    border-bottom: 1px solid #000;
}

.site-content .site-editorial {
    min-height: 40em;
    background-color: #23a094;
    border-bottom: 1px solid #000;
}


.site-footer {
    min-height: 40em;
    background-color: #000000;
    border-bottom: 1px solid #000;
}